body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #343a40;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1{
	filter: drop-shadow(0 0 40px #ffffff); /* Adjust the color and size of the glow */
}

nav {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between; /* Move navigation to the right */
    align-items: center;
}


nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-right: 20px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #007bff;
}


.theme-switch {
    display: flex;
    flex-direction: column; /* Align switch below navigation */
    align-items: center;
    margin-top: 10px;

}

.switch {
    position: relative;
    display: inline-block;
    width: 40px; /* Adjust the width of the switch container */
    height: 20px; /* Adjust the height of the switch container */
    margin-right: 15px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: -8px;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px; /* Adjust the border-radius to half the height for a rounded appearance */
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px; /* Adjust the height of the slider */
    width: 14px; /* Adjust the width of the slider */
    left: 4px;
    bottom: 3px; /* Adjust the bottom position to center the slider vertically */
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #007bff;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

#themeText {
    font-size: 14px;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-right {
        margin-top: 10px;
    }

    nav a {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .theme-switch {
        margin-top: 10px;
    }

    .switch {
        margin-right: 0; /* Adjust the margin for smaller screens */
    }
}

.dark-mode body,
.dark-mode nav,
.dark-mode section,
.dark-mode footer {
    background-color: #343a40;
    color: #fff;
}

.dark-mode #home {
    background-color: #007bff;
}

.dark-mode #about,
.dark-mode #portfolio,
.dark-mode #contact {
    background-color: #fff;
}

.dark-mode .theme-switch {
    color: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.card {
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 40px 100px rgba(128, 128, 128, 0.5); /* Gray box shadow for the card */
    margin-top: 10px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: right;
}


.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-content {
    width: 60%;
    text-align: left;

}

.profile-image {
    max-width: 40%;
    margin-left: 20px; /* Add some margin between the h1 and the image */
    filter: drop-shadow(0 0 40px #000000); /* Adjust the color and size of the glow */
}

@keyframes fade {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

#home h1.fade {
    animation: fade 4s infinite; 
}
